.signup {
  min-height: 100vh;
  padding: 4rem 2.5vw;
  display: flex;
  flex-direction: row-reverse;
  /* align-items: center; */
}

.back-img {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* border: 1px solid red; */
  width: 40vw;
  height: 135vh;
  background: #351678;
  padding: 0 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-img img {
  margin: auto;
  /* border: 1px solid red; */
  border-radius: 10px;
  width: 33vw;
  height: 100vh;
}

.signup-form {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  /* border: 1px solid red; */
  width: 55vw;
  height: 135vh;
  /* background: linear-gradient(); */
  background: #351678;
  padding: 2.5rem 0 0 2rem;
  box-sizing: border-box;
}

.head h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 0.8;
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  color: #ffffff;
}

.head p {
  /* border: 1px solid red; */
  font-size: 22px;
  line-height: 44px;
  color: #ffffff;
  margin-bottom: 1rem;
}

.form h5 {
  font-weight: 500;
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 0.4rem;
}

.form input {
  box-sizing: border-box;
  background: #ffffff;
  /* border: 5px solid #000000; */
  border-radius: 13px;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 1.4rem;
  width: 90%;
}

div.passwords {
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: space-between;
}

div.passwords div {
  /* border: 1px solid red; */
  width: 100%;
}

div.passwords input {
  width: 85%;
}

button {
  background: #5235a6;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.35);
  border-radius: 18px;
  font-size: 1.4rem;
  padding: 1rem 1rem 0.7rem;
  line-height: 1;
  color: #fff;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

h4 {
  font-size: 22px;
  line-height: 39px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 1rem;
}

h4 a {
  text-decoration: underline;
}