.main-div-singleissue {
  margin: 50px;
}
.singleissue {
  display: grid;
  justify-items: start;
  padding: 50px;

  background: linear-gradient(114.88deg, #351678 -1.12%, #251644 98.88%);
  backdrop-filter: blur(25px);

  border-radius: 10px;
  max-width: 100%;
}
.issue-image-detail {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.input-issue-update {
  padding: 15px;
  width: 95%;
  outline: none;
  border-radius: 6px;
}
.issue-update-image {
  border-radius: 10px;
  max-width: 400px;
}
.update-issue-button {
  width: 10%;
  border-radius: 5px;
  margin-top: 10px;
  padding: 8px;
  background-color: #5235a6;
  color: white;
}
