# -----------------------------------------------
# NODE SERVER VARIABLES

NODE_ENV=development
PORT=8000
DATABASE_URL=mongodb://localhost:27017/mlh-smart-city

# -----------------------------------------------
# JWT VARIABLES

JWT_SECRET=alwkur392fohja2398u2!22@sif89awf
JWT_EXPIRES_IN=90d
