.profile {
    min-height: 90vh;
    border: 1px solid red;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 18vh 10vw;
}

.profile-img{
    width: 25vw;
    border: 1px solid red;
}

.profile-details {
    border: 1px solid red;
    width: 55vw;
}