.homecard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(114.88deg, #351678 -1.12%, #251644 98.88%);
  /* Note: backdrop-filter has minimal browser support */
  backdrop-filter: blur(25px);

  border-radius: 18px;
  padding: 50px;
  margin: 6rem;
}

.homecard-text h1 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.homecard-text p {
  font-size: 1.2rem;
}

.homecard-text p:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.homecard-img {
  width: 50%;
}
