.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu li {
  position: relative;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  margin: 0 0.6rem;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 600;
  z-index: 1;
}

.navbar-dot {
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 6px;
  height: 6px;
  z-index: -1;
  background-color: #eb00ff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.logo img {
  height: 1.1rem;
}
